.card{
    width: 300px;
    height: 500px;
    /* position relative to father */
    position: relative;
    /* 50% of viewport height\width from top and from left */
    top: 50vh;
    left: 50vw;
    /* translation to center the image on it's center */
    transform: translate(-50%, -50%);
    /* rounded borders */
    border-radius: 1em;
}

/* provare ad usare un elemento before e applicare su quello il filter */
/* .card:hover {
    filter: brightness(0.5);
} */

/* .card::before:hover{
    content: '';
    filter: brightness(0.5);
} */

.card img{
    width: 100%;
    height: auto;
    object-fit: fill;
}

.saveButton{
    /* border style */
    border-radius: 2em;
    text-align: center;
    padding: 10px 15px;
    background-color: red;
    color: white;
    position: absolute;
    /* initial position */
    top: -30px;
    right: 30px;
    opacity: 0;
    transition: all 300ms linear;
    /* to let the savebutton stay over every other div */
    /* z-index: 1; */
}

.card:hover .saveButton{
    /* on card hover, the save button materialize and descend on the card via transition*/
    opacity: 1;
    top: 30px;
}

.lowLevelButton{
    width: 100%;
    text-align: center;
    position: absolute;
    /* transition initial parameter for the 3 low level buttons */
    bottom: 60px;
    opacity: 0;
    transition: all 300ms linear;
}
    /* final position of low level buttons */
.card:hover .lowLevelButton{
    opacity: 1;
    bottom: 110px;
}


.lowLevelButton button{
    background-color: white;
    border-radius: 2em;
    padding: 4px 6px;  
    border: none;
}

#link{
    display: inline-block;
    width: 50%;
}

#link i{
    display: inline-block;
    vertical-align: middle;
    padding-right: 0.5em;
    transform: rotate(-45deg);
}

#link span{
    display: inline-block;
    vertical-align: middle;
    /* ellipsis if text is too long */
    text-overflow: ellipsis;
    overflow: hidden;
    width: 70%;
}

#upload{
    width: 10%;
}
#other{
    width: 10%;
}

